@using SEM.App.Authentication
<div class="sidebar">
    
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Sport Event Manager v0.1</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="events">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Events
                </NavLink>
            </div>
            <AuthorizeView Policy="admin-organizer-staff">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="organizer-panel">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Organizer Panel
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Policy="admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin-panel">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Admin Panel
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Policy="admin-organizer-user">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="account">
                            <span class="oi oi-key" aria-hidden="true"></span> Account
                            <div class="nav-item px-3">
                                (@context.User.Identity!.Name)
                            </div>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </nav>
    </div>
</div>

@code {
    
    [CascadingParameter]
    public MainLayout? mainLayout { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}