@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="welcome-user-message">
            <h1>Hello, @context.User.Identity!.Name</h1>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="welcome-user-message">
            <h1>Hello, Guest!</h1>
        </div>
    </NotAuthorized>
</AuthorizeView>

<AllNews></AllNews>