@using SEM.App.Data
@using Event = SEM.App.Pages.Event

<div class="event-menu">
    <div>
        <h4>@Event.Name</h4>
    </div>
    <div>
        <button class="btn btn-outline-dark btn-sm" @onclick="() => ShowMenu(Pages.Event.MenuSection.Information)">Information</button>
        <button class="btn btn-outline-dark btn-sm" @onclick="() => ShowMenu(Pages.Event.MenuSection.Registrations)">Registrations</button>
        <button class="btn btn-outline-dark btn-sm" @onclick="() => ShowMenu(Pages.Event.MenuSection.News)">News</button>
        <button class="btn btn-outline-dark btn-sm" @onclick="() => ShowMenu(Pages.Event.MenuSection.Competition)">Competition</button>
    </div>
</div>


@code {

    [Parameter]
    public SportEvent? Event { get; set; }
    [Parameter]
    public EventCallback<Event.MenuSection> ShowMenuCallBack { get; set; }

    private Task ShowMenu(Event.MenuSection section)
    {
        return ShowMenuCallBack.InvokeAsync(section);
    }
}
    