@page "/account"
@attribute [Authorize(Roles = "SEM3:SPORT_EVENTS_MANAGEMENT_ADMIN, SEM2:SPORT_EVENTS_MANAGEMENT_ORGANIZER, SEM1:SPORT_EVENTS_MANAGEMENT_USER")]

<PageTitle>Account</PageTitle>

<AuthorizeView>
	<h1 class="my-4">Your Account</h1>

	<p>Nick name: @context.User.Identity!.Name</p>
	
</AuthorizeView>

@code {
	
}