@page "/events"
@using SEM.App.Components
@using SEM.App.Data

@inject EventsService EventsService

<EventModal @ref="EventModal"></EventModal>

<PageTitle>Events</PageTitle>
 
<div class="events-page">
    <h1>Events</h1> 

    @if (sportEvents == null)
    {
        <div class="spinner-border" role="status"></div>
        <p>Loading... Please wait</p>
    }
    else
    {
        @foreach (var sportEvent in sportEvents)
        {
            <div class="event-container">
                <h2>Title: @sportEvent.Name</h2>
                <p>Description: @sportEvent.Description</p>
                <p>Created: @sportEvent.CreationDate By: @sportEvent.CreatorNickName</p>
                <button class="btn btn-info" @onclick="() => EventModal.Open(sportEvent, mainLayout.IsLoggedIn())">More Information</button>
            </div>
        }
    }
</div>

@code {
    [CascadingParameter]
    public MainLayout mainLayout { get; set; }
    
    private List<SportEvent> sportEvents;
    private EventModal EventModal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        sportEvents = await EventsService.GetEvents();
    }
}
