@page "/Event/{EventId}"

@using SEM.App.Data
@using SEM.App.Authentication

@inject EventsService EventsService
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager Navigation

<PageTitle>Event @SportEvent?.Name</PageTitle>
    
@if (SportEvent == null)
{
    <div class="loading-page">
        <div class="spinner-border loading-spinner" role="status"></div>
        <p>Loading... Please wait</p>
    </div>
}
else
{
    <div class="event">
        <div class="event-content">
            <h1>@SportEvent?.Name</h1>
            <div class="event-field">
                <b>Description: </b>
                @SportEvent?.Description
            </div>
            <div class="event-field">
                <b>Registrations: </b> @SportEvent?.RegistrationsQuantity
            </div>
        <div class="event-field">
            <b>Registered: </b>
            @if (IAmRegistered)
            {
                @TrueCheck
            }
            else
            {
                @FalseCheck
            }
        </div>
        <AuthorizeView>
            <div class="event-field">
                <RadzenAccordion>
                    <Items>
                        <RadzenAccordionItem Text="Registered users" Icon="list">
                            @if (!RequestingRegistrations)
                            {
                                @foreach (var registration in Registrations)
                                {
                                    <div>
                                        @registration.UserName @registration.Role
                                    </div>
                                }
                            }
                            else
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading registrations...</span>
                            }
                        </RadzenAccordionItem>
                    </Items>
                </RadzenAccordion>
            </div>
        </AuthorizeView>
        <div class="event-field">
            <b>Creation date: </b> @SportEvent?.CreationDate
        </div>
        <div class="event-field">
            <b>Created by: </b> @SportEvent?.CreatorNickName
        </div>
        <div class="event-field">
            <AuthorizeView>
                @if (!IAmRegistered)
                {
                    @if (!RequestingSignUp)
                    {
                        <button type="button" class="btn btn-success" @onclick="SignUp">Sign up</button>
                    }
                    else
                    {
                        <button class="btn btn-success" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Signing up...</span>
                        </button>
                    }
                }
                @if (IAmRegistered)
                {
                    @if (!RequestingUnRegister)
                    {
                        <button type="button" class="btn btn-danger" @onclick="UnRegister">UnRegister</button>
                    }
                    else
                    {
                        <button class="btn btn-danger" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">UnRegistering...</span>
                        </button>
                    }
                }
            </AuthorizeView>
        </div>

        @if (FailedRegistration)
        {
            <div class="event-field alert alert-danger">
                @FailedRegistrationMessage
            </div>
        }

            <div class="event-field">
                <button class="btn btn-primary" @onclick="BackToEvents">Go Back to events</button>
            </div>
        </div>
    </div>
}

@code { 
    [Parameter] 
    public string? EventId { get; set; }    
    
    private SportEvent? SportEvent { get; set; }
    private List<RegistrationDto>? Registrations { get; set; }

    private bool IAmRegistered { get; set; }
    private bool RequestingSignUp { get; set; }
    private bool RequestingUnRegister { get; set; }
    private bool RequestingRegistrations { get; set; }
    private bool FailedRegistration { get; set; }
    
    private const string TrueCheck = "✅";
    private const string FalseCheck = "❌";
    private string? FailedRegistrationMessage;  

    private string Token = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        Token = await customAuthStateProvider.GetToken();

        if (!string.IsNullOrWhiteSpace(Token))
        {
            var iAmRegisteredResponse = await EventsService.IAmRegistered(Guid.Parse(EventId!), Token);
            IAmRegistered = iAmRegisteredResponse.Registered;

            await GetRegistrations();
        }
        SportEvent = await EventsService.GetEvent(Guid.Parse(EventId!));
        await base.OnInitializedAsync();
    }

    private void BackToEvents()
    {
        Navigation.NavigateTo($"/Events");
    }

    private async Task SignUp()
    {
        RequestingSignUp = true;

        var response = await EventsService.RegisterToAnEvent(Token,Guid.Parse(EventId!));
        if (response.SuccessRegistration)
        {
            var iAmRegisteredResponse = await EventsService.IAmRegistered(Guid.Parse(EventId!), Token);
            IAmRegistered = iAmRegisteredResponse.Registered;
            SportEvent = await EventsService.GetEvent(Guid.Parse(EventId!));
            await GetRegistrations();
            RequestingSignUp = false;
        }
        if (!response.SuccessRegistration)
        {
            FailedRegistration = true;
            FailedRegistrationMessage = response.Message;
            RequestingSignUp = false;
        }
    }
    
    private async Task UnRegister()
    {
        RequestingUnRegister = true;

        var response = await EventsService.UnRegisterToAnEvent(Token,Guid.Parse(EventId!));
        if (response == "Unregistered")
        {
            var iAmRegisteredResponse = await EventsService.IAmRegistered(Guid.Parse(EventId!), Token);
            IAmRegistered = iAmRegisteredResponse.Registered;
            SportEvent = await EventsService.GetEvent(Guid.Parse(EventId!));
            await GetRegistrations();
        }
        RequestingUnRegister = false;
    }

    private async Task GetRegistrations()
    {
        RequestingRegistrations = true;
        var registrations = await EventsService.GetRegistrationsByEventId(Guid.Parse(EventId!), Token);
        Registrations = registrations;
        RequestingRegistrations = false;
    }
}   
