@page "/events"
@using SEM.App.Data
@using SEM.App.Utilities

@inject EventsService EventsService
@inject ILocalStorage LocalStorage
@inject NavigationManager Navigation

<PageTitle>Events</PageTitle>
 
<div class="events-page">
    <h1>Events</h1> 

    @if (sportEvents == null)
    {
        <div class="spinner-border" role="status"></div>
        <p>Loading... Please wait</p>
    }
    else
    {
        @foreach (var sportEvent in sportEvents)
        {
            <div class="event-container">
                <h2>Title: @sportEvent.Name</h2>
                <p>Description: @sportEvent.Description</p>
                <p>Created: @sportEvent.CreationDate By: @sportEvent.CreatorNickName</p>
               <button class="btn btn-primary" @onclick="() => GoToEvent(sportEvent.Id)">
                   Go to event
               </button>
            </div>
        }
    }
</div>

@code {
    [CascadingParameter]
    public MainLayout mainLayout { get; set; }
    
    private List<SportEvent> sportEvents;
    private string Token { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Token = await LocalStorage.GetStringAsync("token");
        sportEvents = await EventsService.GetEvents();
    }

    private void GoToEvent(Guid eventId)
    {
        Navigation.NavigateTo($"/Event/{eventId}");
    }
}
