@page "/ChangePassword/{Email}/{Token}"

<h3>ChangePassword</h3>

@Email
@Token

@code {
    [Parameter] 
    public string? Email { get; set; }    
    [Parameter] 
    public string? Token { get; set; }    
}