@page "/ChangePassword/{Email}/{Token}"

@using System.Net

@inject HttpClient httpClient

<div class="login-page">
    <div class="login">
        <div class="login-content">
            <div class="register-field text-center">
                <h3>Change password</h3>
            </div>
            <div class="login-field">
                <label>New password</label>
                <input @bind="newPassword" class="form-control" placeholder="new password" />
            </div>
            <div class="login-field">
                <label>Repeat new password</label>
                <input @bind="repeatNewPassword" class="form-control" placeholder="repeat new password" />
            </div>
            <div class="login-field">
                @if (!RequestingChangePassword && changedPasswordMessage == null)
                {
                    <button @onclick="ChangePasswordRequest" class="btn btn-outline-dark btn-sm">Change password</button>
                }
                @if (RequestingChangePassword)
                {
                    <LoadingButton ButtonType="dark" LoadingText="Changing" />
                }
                @if (changedPasswordMessage != null)
                {
                    <div class="event-field alert alert-success">
                        @changedPasswordMessage
                    </div>
                }
                @if (errorMessage != null)
                {
                    <div class="event-field alert alert-danger">
                        @errorMessage
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] 
    public string? Email { get; set; }    
    [Parameter] 
    public string? Token { get; set; }

    private string? newPassword { get; set; }
    private string? repeatNewPassword { get; set; }
    private string? changedPasswordMessage { get; set; }
    private string? errorMessage { get; set; }
    
    private bool RequestingChangePassword { get; set; }

    private async Task ChangePasswordRequest()
    {
        RequestingChangePassword = true;
        errorMessage = null;
        if (!RegisterValidations()) return;
        
        var response = await httpClient.PostAsJsonAsync("https://sport-management-api.azurewebsites.net/api/" + "Auth/change-password", new
        {
            NewPassword = newPassword,
            Token,
            Email
        });

        if (response.IsSuccessStatusCode)
        {
            changedPasswordMessage = "Your password was changed";
        }       
        else if(response.StatusCode == HttpStatusCode.BadRequest)
        {   
            
        }
        else
        {
            
        }

        RequestingChangePassword = false;
    }
    
    private bool RegisterValidations()
    {
        if (string.IsNullOrWhiteSpace(newPassword) || string.IsNullOrWhiteSpace(repeatNewPassword))
        {
            errorMessage = "You must fill all the fields";
            RequestingChangePassword = false;
            return false;
        }
        
        if (newPassword != repeatNewPassword)
        {
            errorMessage = "Not equal passwords. New password and repeat password must be identical";
            RequestingChangePassword = false;
            return false;
        }

        return true;
    }
}