@using SEM.App.Authentication

@inherits LayoutComponentBase

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

<PageTitle>SportEventManager</PageTitle>
	
	<div class="page">
		<NavMenu />
		<main>
			 <AuthorizeView>
                <Authorized>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </Authorized>
                <NotAuthorized>
	                <a href="/login">Login</a>
	                <a href="/register">Register</a>
	                </NotAuthorized>
             </AuthorizeView>
			
			<article>
				@Body
			</article>
		</main>
	</div>

@code {
	private async Task Logout()
	{
		var customAuthStateProvider = (CustomAuthenticationStateProvider) authenticationStateProvider;
		await customAuthStateProvider.UpdateAuthenticationState(null);
		navigationManager.NavigateTo("/", true);	
	}
}
