@using SEM.App.Authentication

@inherits LayoutComponentBase

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

<PageTitle>Sport Event Manager</PageTitle>
	
	<div class="page">
		<NavMenu />
		<main>
			 <AuthorizeView>
				 <Authorized>
					 <div class="login-register-container">
						<a class="logout-button" @onclick="Logout" href="javascript:void(0)">Logout</a>
					 </div>
				 </Authorized>
				 <NotAuthorized>
					 <div class="login-register-container">
						 <a class="login-button" href="/login">Login</a>
						 <a class="register-button" href="/register">Register</a>
					 </div>
				 </NotAuthorized>
             </AuthorizeView>
			
			<article>
				@Body
			</article>
		</main>
	</div>

@code {
	private async Task Logout()
	{
		var customAuthStateProvider = (CustomAuthenticationStateProvider) authenticationStateProvider;
		await customAuthStateProvider.UpdateAuthenticationState(null);
	}
}
