@using SEM.App.Authentication
@using System.Text
@using System.Net.Http.Headers
@using System.Text.Json
@using SEM.App.Data

@inject AuthenticationStateProvider authenticationStateProvider
@inject HttpClient HttpClient

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add Manager</h4>
         </div>
         <div class="modal-body">
             <div class="mb-3">
                 <p>User name</p><input class="form-control-bib" type="number">
             </div>
         </div>
         <div class="modal-footer">
            @if (!RequestingAddManager)
            {  
               <button type="button" class="btn btn-outline-dark btn-sm" @onclick=Create>Add</button>
            }
            else
            {
               <td>
                  <LoadingButton ButtonType="dark" LoadingText="Adding"></LoadingButton>
               </td>
            }
            <button type="button" class="btn btn-outline-dark btn-sm" @onclick="@Cancel">Go back</button>
         </div>
      </div>
   </div>
</div>

@code {
   [Parameter] public string? EventId { get; set; }
   [Parameter] public EventCallback OnClose { get; set; }

   private List<UserDto>? Users;

   private Guid? UserId { get; set; }
   private string ErrorMessage = string.Empty;
   private bool RequestingAddManager { get; set; }
   private bool RequestingUsers { get; set; }

   private async Task GetUsersByContainingName(string name)
   {
      RequestingUsers = true;
      var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
      var token = await customAuthStateProvider.GetToken();
      var request = new HttpRequestMessage(HttpMethod.Post, "https://sport-management-api.azurewebsites.net/api/" + $"Users/{name}");
      request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);
      var response = await HttpClient.SendAsync(request);
      if (response.IsSuccessStatusCode)
      {
         Users = await response.Content.ReadFromJsonAsync<List<UserDto>>();
      }
      else
      {
         ErrorMessage = "Something went wrong. Please try again later.";
      }
      RequestingUsers = false;
   }

   private void Cancel()
   {        
      OnClose.InvokeAsync();  
   }  
         
   private async Task Create()
   {
      RequestingAddManager = true;
      var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
      var token = await customAuthStateProvider.GetToken();
      var jsonInString = JsonSerializer.Serialize(new
      {
         
      });
      var request = new HttpRequestMessage(HttpMethod.Post, "https://sport-management-api.azurewebsites.net/api/" + $"Managers/Event/{EventId}/Add/{UserId}")
      {
         Content = new StringContent(jsonInString, Encoding.UTF8, "application/json")
      };
      request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);
      var response = await HttpClient.SendAsync(request);
      if (response.IsSuccessStatusCode)
      {
         await OnClose.InvokeAsync();  
      }
      else
      {
         ErrorMessage = "Something went wrong. Please try again later.";
      }
      RequestingAddManager = false;
   }
}