@using SEM.App.Data
@using SEM.App.Components.Loadings
@using SEM.App.Data.Models
@using SEM.App.Authentication
@using System.Net.Http.Headers

@inject HttpClient HttpClient
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager Navigation

<div class="nextEvents">
    <h3 class="nextEvents-title">Next events</h3>
    <div>
        @if (Events != null)
        {
            @foreach (var sportEvent in Events)
            {
                <div class="nextEvent" @onclick="() => GoToEvent(sportEvent.Id)">
                    <div class="nextEvent-info">
                        <div>
                            @sportEvent.Name
                        </div>
                        <div class="nextEvent-date">
                            @sportEvent.StartDate.ToLongDateString()
                        </div>
                    </div>
                    <div class="nextEvent-click">
                        Click and go to event!
                    </div>
                </div>
            }
        }
        else
        {
            <SimpleLoading></SimpleLoading>
        }
    </div>
</div>

@code {
    private List<SportEvent>? Events;
    private static readonly string semApiUrl = ApiService.GetBaseUrl();

    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        var token = await customAuthStateProvider.GetToken();
        var request = new HttpRequestMessage(HttpMethod.Get, semApiUrl +  "Events");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var response = await HttpClient.SendAsync(request);
        Events = await response.Content.ReadFromJsonAsync<List<SportEvent>>();
        
        await base.OnInitializedAsync();
    }
    
    private void GoToEvent(Guid eventId)
    {   
        Navigation.NavigateTo($"/Event/{eventId}");
    }
}
