.nextEvents{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nextEvent-date{
    font-size: 12px;
}

.nextEvent{
    border-radius: 1px;
    padding: 20px;
    box-shadow: rgba(50, 50, 105, 0.5) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    min-width: 375px;
    max-width: 375px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.nextEvents-title{
    margin-bottom: 20px;
}

.nextEvent-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.nextEvent-click{
    font-size: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 175px;
    height: 50px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.nextEvent-click:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-20px); }
    100% { transform: translateX(0); }
}